body {
    background-color: #fffbf7;
    margin: 0px;
}

h1  {
    color:  #025157;
    font-family: "Alegreya", serif;
    font-size: 60px;
    margin-bottom: 24px;
}

h4 {
    color: #46484c;
}

p { color: #8b8b8bcc;
}
.logo-matcha{
   width: 50px;
}
button {
    color: #fafafa;
    background-color: #025157;
}
.imagen-matcha{
   width: 50px;
}

.header {
    margin 40px  20px 0;
}
.first-img {
    width: 30%;
    text-align: center;
    font-size: 0;
  }
.intro  {
    width: 30%;
    text-align: center;
  }
.main {
    margin-top: 285px;
    text-align: center;
}